$az-g-font-headings: 'Lato', sans-serif;
$az-g-font-body: 'Sanchez', sans-serif;

$az-g-font-weight-regular: 400;
$az-g-font-weight-bold: 700;
$az-g-font-weight-super-bold: 900;

$az-g-color-primary: #ff5f5f;
$az-g-color-font: #363d44;
